<!--form_update_product-->
{% extends 'catalog/base.html' %}

{% block title %}Редактировать товар{% endblock %}

{% block content %}

<div class="container" style="margin-top:20px">
    <form class="form-control border" style="width: 600px" method="post" enctype="multipart/form-data">
        <h5 class="text-center border-bottom pb-2">Редактировать товар</h5>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-2">Отправить</button>
    </form>
</div>
{% endblock %}
