<!-- home.html -->
{% extends 'catalog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<h1 class="text-center margin-top-main">Выбирай и покупай</h1>
<p class="text-center fw-light">Вы находитесь на сайте, предназначенном для продажи товаров</p>
<div class="row">
    {% for product in products %}
    <div class="col-4 d-flex justify-content-evenly" style="margin-bottom:20px">
        <div class="card text-center" style="width: 300px;  height:300px">
            <h5 class="card-header">{{ product.name }}</h5>
            <div class="card-body">
                <h5 class="card-title">{{ product.price }}</h5>
                <p class="card-text"> {{ product.description|truncatechars:100 }}</p>
                <a href="{% url 'catalog:product_views' product.pk %}"
                   class="btn btn-outline-primary">Посмотреть</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div>
    {% include 'catalog/paginator.html' %}
</div>
{% endblock %}
